mixin photoCardWrap(data)
  .photo-card__wrap
    span.photo-card__user-name=data.userName
    span.photo-card__publication=data.timePub
    p.photo-card__desc=data.desc
    .photo-card__like-block
      != pugHelpers.Icon.call(locals, { iconName: "icon-heart", className: 'icon icon--heart'})
      span.photo-card__like="нравится: " + data.like

mixin photoCard(data)
  section.photo-card(class=data.active)

      - var mobile1x = `${data.img}-mobile@1x.jpg`;
      - var mobile2x = `${data.img}-mobile@2x.jpg 2x`;
      - var tablet = `${data.img}-tablet@1x.jpg, ${data.img}-tablet@2x.jpg 2x`;
      - var desktop = `${data.img}-desktop@1x.jpg, ${data.img}-desktop@2x.jpg 2x`;


      a.photo-card__full-img(href="#")
        picture
          source(media="(min-width:1020px)" srcset=desktop)
          source(media="(min-width:700px)" srcset=tablet)
          img.photo-card__img(src=mobile1x srcset=mobile2x alt="Photo card" width="280" height=180)
        if data.active
          span.photo-card__active-text="Панорама дня"
      if data.active
        .container
          +photoCardWrap(data)
      else
        +photoCardWrap(data)


