mixin icon-access(data)
  != pugHelpers.Icon.call(locals, { iconName: data.icon ? "icon-yes" : "icon-no", className: data.icon ? "icon icon--yes" : "icon icon--no"})

mixin cost(data)
    .cost
      table.cost__table
        tr
          td.cost__empty
          td.cost__data
            span.cost__service="База"
            span.cost__price="1,99 USD"
          td.cost__data.cost__data--hit
            span.cost__service="Стандарт"
            span.cost__price="3,99 USD"
          td.cost__data
            span.cost__service="Анлим"
            span.cost__price="9,99 USD"
        each information in services
          tr
            td.cost__name=information.name
            td.cost__access
              span.cost__name.cost__name--mobile=information.name
              +icon-access({
                icon: information.base
              })
            td.cost__access
              span.cost__name.cost__name--mobile=information.name
              +icon-access({
                icon: information.standart
              })
            td.cost__access
              span.cost__name.cost__name--mobile=information.name
              +icon-access({
                icon: information.unlim
              })

