mixin checkbox(data)
      label.checkbox
        input.checkbox__input(type="checkbox" name=data.name value=data.value checked=data.checked disabled=data.disabled)
        span.checkbox__title()= data.label
